body {
	font-family: arial, sans-serif;
	background-color: #aaa;
	color: #fff;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #aef;
}

/*** Header and Logo ***/
header {
	padding: 10px;
	background-color: #000;
	border-top-left-radius: 60px;
	border-bottom-left-radius: 60px;

	background: -webkit-linear-gradient(left, #000, #aaa); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, #000, #aaa); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, #000, #aaa); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, #000, #aaa); /* Standard syntax */
}

.logo {
	position: relative;
	height:100px;
}

.logo-front, .logo-back {
	position: absolute;
}

.logo-front {
	left: 110px;
	font-size: 2em;
	color: #aef;
}

.logo-back {
	top: 15px;
	font-size: 3em;
	color: #fff;
}

/***** Map Key *****/
.key {
	width: 100%;
}

.key-location {
	width: 150px;
	display: inline-flex;
	margin: 10px 20px 10px 0;
	vertical-align: middle;
	border: solid 1px #555;
}

.key-location-color {
	width: 50px;
	height: 50px;
}

.key-location-name {
	height: 100%;
	margin: auto 0;
	padding: 0 15px;
}

/***** Add New Boundaries *****/
footer {
	width: 100%;
}

.invisible {
	display: none;
}

.attribution,
.add-new-boundaries {
	display: inline-block;
	//border: 2px solid red;
}

.attribution {
	width: 200px;
	float: right;
}

.add-new-boundaries {
	width: 50%;
}

.new-area-boundaries-check,
span {
	vertical-align: top;

}

.new-area-boundaries-text,
.new-area-boundaries-copy {
	margin-right: 0;
}

.new-area-boundaries-text {
	width: 100%;
	height: 150px;
}

.new-area-boundaries-copy {
	padding: 10px;
}

/***** Error Message *****/
.error-message {
	text-align: center;
	padding: 20px;
}

/***** Add Information Page *****/
button {
	background-color: #ccc;
	color: #000;
	border-radius: 5px;
	border: solid 2px #777;
	font-weight: bold;
}

button:hover {
	background-color: #aef;
	border: 2px solid black;
}

.login-container {
	width: 90%;
	text-align: center;
}

#login {
	width: 200px;
	height: 75px;
	margin: 20px auto;
	font-size: 1.2em;
}

/***** Add New Information *****/
.add-item-container {
	width: 100%;
	margin-top: 20px;
}

.add-item-box {
	display: inline-block;
	width: 30%;
}

.add-item-name,
.add-item-color,
.add-item-boundaries {
	width: 95%;
	height: 1.5em;
	padding: 1px 5px;
	background-color: #aaa;
	border: none;
	border-bottom: 2px solid #aef;
}

.add-item-name:hover,
.add-item-color:hover,
.add-item-boundaries:hover {
	background-color: #aef;
}

.add-item-name:focus,
.add-item-color:focus,
.add-item-boundaries:focus {
	border-bottom: 2px solid #000;
	background-color: #aef;
	outline: none;
}

#add {
	vertical-align: top;
	padding: 3px 8px;
	border-radius: 3px;
}

.add-item-description {
	font-size: 1em;
	text-align: center;
}

/***** Display Existing Information *****/
.name,
.color,
.boundaries {
	display: inline-block;
	height: 100px;
}

.name,
.color {
	width: 30%;
	text-align: center;
}

.boundaries {
	width: 30%;
	overflow: scroll;
}

.info-container {
	width: 100%;
	padding: 10px 0;
	margin: 30px 0;
	background-color: #777;
}

.location-item {
	width: 98%;
	border-bottom: 2px solid black;
	margin: 30px auto 0 auto;
	padding-bottom: 30px;
}